<nav id="page-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mr-4 d-flex" href="/"><img src="/images/textpose-light.svg" height="35"> <%= sails.config.custom.platformName %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <% if (me) { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/account">Settings</a>
            <a class="dropdown-item" href="/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% } %>
      <li class="nav-item active">
        <div class="d-flex">
          <a class="nav-link btn btn-outline-info text-light px-3 mr-2" href="/live">+ Live Post</a>
          <a class="nav-link btn btn-outline-light text-light flex-grow-1" href="/?new=1">+ Post</a>
        </div>
      </li>
    </ul>
  </div>
</nav>