<html>
<head>
  <title><%= title %></title>
  <style>
    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      -moz-control-character-visibility: visible;
    }
  </style>
</head>
<body>
  <pre><%= body %></pre>
</body>
</html>
