<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>The page you seek doesn't exist.</h2>
    <br>
    <h3><a href="/">Home</a></h3>
    <h3><a href="/about">About</a></h3>
    <h3><a href="/faq">FAQ</a></h3>
  </div>
</div>
