<div id="498">
  <div class="container text-center">
    <h1>Sorry, that link is expired, or<br/><span class="mobile-spacer">&nbsp;</span>it has already been used.</h1>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
