<div id="create-post" v-cloak>

  <ajax-form action="createPost" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" :handle-parsing="handleParsingForm">

    <div id="editor-container" class="cintainer-fluid">
      <div class="d-flex flex-column align-items-scretch">

        <nav id="page-header" class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-1">

          <div class="col col-12 col-lg-2 mx-0 px-0">
            <div class="d-flex justify-content-between w-100">

              <span>
                <a class="navbar-brand mr-4 d-flex" href="/"><img src="/images/textpose-light.svg" height="30"></a>
              </span>
      
              <span class="flex-grow-1 d-flex justify-content-end align-items-center">
                <div class="custom-control custom-switch mr-2 d-lg-none">
                  <input type="checkbox" class="custom-control-input" id="mobileSwitch" v-model="mobileMode">
                  <label class="custom-control-label text-light" for="mobileSwitch">Mobile</label>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </span>
    
            </div>
          </div>
    
          <div class="col col-12 col-lg-10 mx-0 px-0">
            <div class="collapse navbar-collapse" id="navbarToggler">

              <div class="form-row w-100 mx-0">
                <%# Title %> 
                <div class="col col-12 col-md-5 col-lg-5 mt-1">
                  <div class="input-group">
                    <input class="form-control" id="createPostTitle" name="createPostTitle" type="text" :class="[formErrors.title ? 'is-invalid' : '']" v-model.trim="formData.title" placeholder="Title" @change="updatePostTitle()" required>
                    <div class="input-group-append">
                      <a class="btn btn-outline-secondary text-light" v-on:click="clearTitle()">Clear</a>
                    </div>
                  </div>
                </div>
                <%# Set editor mode %> 
                <div class="col col-6 col-md-1 mt-1">
                  <input class="form-control" id="setMode" type="text" v-model.trim="setMode" placeholder="Mode: txt, html, py, etc." @change="updateLocalPost()" reuqired>
                </div>
                <%# Set expiry %> 
                <div class="col col-6 col-md-2 mt-1">
                  <select class="form-control" :class="posted? 'readonly': ''" v-model="formData.expiry">
                    <option :value="21600">6 Hours</option>
                    <option :value="43200">12 Hours</option>
                    <option :value="86400">1 Day</option>
                    <option :value="604800">7 Days</option>
                    <option :value="1209600">14 Days</option>
                    <option :value="2592000">30 Days</option>
                  </select>
                </div>

                <%# Settings, submit and copy link buttons %> 
                <div class="col col-12 col-md-4 mt-1">
                  <div class="d-flex">

                    <a class="btn btn-outline-secondary text-light flex-grow-1" v-on:click="openSettingsModal()"><i class="fas fa-cogs"></i></a>

                    <%# Histroy button %> 
                    <div class="dropdown flex-grow-1 ml-2">
                      <a class="btn btn-outline-secondary btn-block text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                        <i class="fas fa-stream"></i>
                      </a>
                    
                      <div class="dropdown-menu dropdown-menu-md-right history-dropdown" aria-labelledby="dropdownMenuLink">

                        <div class="d-flex flex-column-reverse mx-2">
                        <span class="text-light" v-if="!supportIndexedDB">This session does not support local history.</span>

                          <div v-for="post in localPosts" v-if="supportIndexedDB">
                            <div class="histroy-dropdown-item d-flex justify-content-between">
                              <div>
                                <a :class="post.posted? 'text-light': 'text-warning'" :href="'/?local='+post.uuid">{{post.title}} (<js-timestamp :at="post.updatedAt"></js-timestamp>)</a>
                              </div>
                              <div>
                                <a class="mx-2 text-light" href="#" v-on:click="removeLocalPost(post.uuid)">&times;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="d-flex justify-content-center" v-if="supportIndexedDB">
                          <span><a class="text-danger p-1" href="#" v-on:click="removeAllLocalPosts()">Clear all</a></span>
                          <span><a class="text p-1" href="#" v-on:click="removeAllSubmittedPosts()">Clear All Posted</a></span>
                        </div>
                      </div>
                    </div>
                    
                    <%# New post button %> 
                    <div class="dropdown ml-2 flex-grow-1">
                      <a class="btn btn-outline-secondary btn-block text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                        <i class="fas fa-plus"></i>
                      </a>
                    
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/?new=1" target="_blank">Normal</a>
                        <a class="dropdown-item" href="/live">Live (Beta)</a>
                      </div>
                    </div>

                    <%# Submit button %> 
                    <span class="ml-2 flex-grow-1">
                      <a class="btn btn-outline-success btn-block text-light" v-on:click="confirmingSubmit = true" v-if="!confirmingSubmit && !formData.posted">Post</a>
                      <ajax-button type="submit" :syncing="syncing" class="btn btn-outline-danger btn-block text-light" v-if="confirmingSubmit && !cloudSuccess && !formData.posted">Confirm?</ajax-button>
                      <a class="btn btn-outline-success btn-block text-light" v-if="cloudSuccess || formData.posted" v-on:click="copyLinkToClipboard()">{{ copiedResponse? copiedResponse: ''}}<span v-if="!copiedResponse"><i class="fas fa-copy"></i> <small>URL</small></span></a>
                    </span>

                  </div>
                </div>
              </div> <%#  End of buttons %> 

            </div>  <%# End of form row %> 
          </div> <%#  End of col %>

        </nav>

        <div class="flex-fill">
            <%# Editor %>
            <div id="editor"></div>
            <%# Textarea %>
            <div class="editor-textarea-container" v-if="mobileMode">
              <textarea id="editor-textarea" class="ace_editor" spellcheck="false" v-model="textareaContent" :readonly="formData.posted? 1: null"></textarea>
            </div>
        </div>

      </div>
    </div>  <%# End of container-fluid %> 

    <%# Navbar header %> 
    



  </ajax-form>

  <%# Footnote %> 
  <div class="footnote d-flex flex-row-reverse">
    <a class="p-1" href="/about" target="_blank">About</a>
    <a class="p-1" href="/faq" target="_blank">FAQ</a>

    <%# <a class="p-1" href="#" v-on:click="updateLocalPost()">Save</a> %> 
    <span class="p-1" v-if="formData.expireAt">Expiry: <js-timestamp :at="formData.expireAt" v-if="_.now() < formData.expireAt">{{ _.now() > formData.expireAt? 'Expired': ''}}</js-timestamp></span>
    <span class="p-1" :class="formData.posted? 'text-success': 'text-warning'">[ {{ formData.posted? 'Posted': 'Draft'}} ]</span>
  </div>

  <%# Toast notification %> 
  <div id="notice" class="toast notice" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" :style="noticeShown? '': 'display: none'" v-cloak>
    <div class="toast-header">
      <strong class="mr-auto" v-html="noticeTitle"></strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
        <span>&times;</span>
      </button>
    </div>
    <div class="toast-body" v-html="noticeMessage">
    </div>
  </div>

  <%# Paste button %>

  <div>
    <a id="editorActionButton" class="d-none btn btn-secondary text-light d-xl-none">
      <svg style="fill:#eee;" height="25" width="25" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="paste" class="svg-inline--fa fa-paste fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M128 184c0-30.879 25.122-56 56-56h136V56c0-13.255-10.745-24-24-24h-80.61C204.306 12.89 183.637 0 160 0s-44.306 12.89-55.39 32H24C10.745 32 0 42.745 0 56v336c0 13.255 10.745 24 24 24h104V184zm32-144c13.255 0 24 10.745 24 24s-10.745 24-24 24-24-10.745-24-24 10.745-24 24-24zm184 248h104v200c0 13.255-10.745 24-24 24H184c-13.255 0-24-10.745-24-24V184c0-13.255 10.745-24 24-24h136v104c0 13.2 10.8 24 24 24zm104-38.059V256h-96v-96h6.059a24 24 0 0 1 16.97 7.029l65.941 65.941a24.002 24.002 0 0 1 7.03 16.971z"></path></svg>
    </a>
  </div>

  <%# Textarea %> 

  <modal class="popup-textarea-modal" v-if="modal==='textarea'" @close="closeTextarea()" v-cloak>
    <div class="modal-header">
      <p><small>Paste your content below and confirm.</small></p>
      <p><small>This is for users who are having issues pasting on a mobile browser.</small></p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal"></button>
    </div>

    <textarea class="form-control" class="popup-textarea" id="popup-textarea"></textarea>

    <div class="d-flex justify-content-end mt-2">
      <a class="btn btn-secondary text-light" data-dismiss="modal" v-on:click="pasteFromTextarea()">Confirm</a>
    </div>
  </modal>

  <%# Settings modal %> 
  <modal class="settings" v-if="modal==='settings'" @close="closeSettingsModal()" v-cloak>
    <div class="modal-header">
      <h3>Settings</h3>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal"></button>
    </div>

    <div class="row">
      <div class="col col-12 my-4">
        <span class="d-flex justify-content-between">
          <span><h5>Editor Theme</h5></span>
          <span>
            <select class="custom-select" v-if="themelist" v-model="editorTheme">
              <option :value="theme.name" v-for="theme in themelist">{{theme.caption}}</option>
            </select>
          </span>
        </span>
      </div>
      <div class="col col-12 my-2">
        <span class="d-flex justify-content-between">
          <span><h5>Tab Size</h5></span>
          <span>
            <select class="custom-select" v-model="editorTabSize">
              <option :value="size" v-for="size in Array.from(new Array(10), (x,i) => i+1)">{{size}}</option>
            </select>
          </span>
        </span>
      </div>
      <div class="col col-12 my-2">
        <span class="d-flex justify-content-between">
          <span><h5>Soft Tabs (Use space for tab)</h5></span>
          <span>
            <select class="custom-select" v-model="editorSoftTabs">
              <option :value="true">Yes</option>
              <option :value="false">No</option>
            </select>
          </span>
        </span>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <a class="btn btn-secondary text-light" data-dismiss="modal" v-on:click="closeSettingsModal()">Close</a>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
