<div id="create-live-post" v-cloak>

  <div class="container">
    <div class="row pt-4">
      <div class="alert alert-secondary w-100 mx-4" role="alert">
        <i class="fas fa-exclamation mr-2"></i>
        <span>Live collaborative editing is in early testing. It might not work as expected.</span>
      </div>
      <div class="d-flex justify-content-center w-100 text-light">
        <ul class="mx-3">
          <li>You can change your mode and title anytime while editing.</li>
          <li>You can save a post early, but you cannot change the expiry time.</li>
          <li>Guests cannot edit but can view the changes in real-time.</li>
          <li>Please save your editor link as it is not saved to your history.</li>
          <li>Mobile support is in the working. Certain browsers may have problem selecting/pasting/copying text.</li>
        </ul>
      </div>
    </div>
    <div class="row py-4">
      <div class="col col-12">
        <ajax-form action="createLivePost" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" :handle-parsing="handleParsingForm">
          <div class="form-row">
            <div class="col-12 col-md-6">
              <div class="form-group">
                <label for="postTitle">Title</label>
                <input class="form-control" id="postTitle" name="postTitle" type="text" :class="[formErrors.title ? 'is-invalid' : '']" v-model.trim="formData.title" placeholder="Required" required>
              </div>
            </div>
            <div class="col-12 col-md-2">
              <div class="form-group">
                <label for="postMode">Mode</label>
                <input class="form-control" id="postMode" name="postMode" type="text" :class="[formErrors.mode ? 'is-invalid' : '']" v-model.trim="formData.mode" placeholder="txt, html, js, py, etc.">
              </div>
              
            </div>
            <div class="col-6 col-md-2">
              <div class="form-group">
                <label for="postExpiry">Live for:</label>
                <select id="postExpiry" class="form-control" v-model="formData.expiryLive">
                  <option :value="1800">30 Minutes</option>
                  <option :value="3600">1 Hour</option>
                  <option :value="10800">3 Hours</option>
                  <option :value="21600">6 Hours</option>
                  <option :value="43200">12 Hours</option>
                  <option :value="86400">1 Day</option>
                  <option :value="259200">3 Days</option>
                  <option :value="604800">7 Days</option>
                  <%# 
                  <option :value="1209600">14 Days</option>
                  <option :value="2592000">30 Days</option> 
                  %> 
                </select>
              </div>
            </div>
            <div class="col-6 col-md-2">
              <div class="form-group">
                <label for="postExpiryAfterSave">Save for:</label>
                <select id="postExpiryAfterSave" class="form-control" v-model="formData.expirySave">
                  <option :value="0">Do not save</option>
                  <option :value="3600">1 Hour</option>
                  <option :value="10800">3 Hours</option>
                  <option :value="21600">6 Hours</option>
                  <option :value="43200">12 Hours</option>
                  <option :value="86400">1 Day</option>
                  <option :value="259200">3 Days</option>
                  <option :value="604800">7 Days</option>
                  <option :value="1209600">14 Days</option>
                  <option :value="2592000">30 Days</option> 
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col col-12 col-md-6">
              <div class="form-group">
                <label for="postMaxEditor">Max number of editors: {{formData.maxEditor}}</label>
                <input type="range" class="custom-range" min="2" max="30" id="postMaxEditor" v-model="formData.maxEditor">
              </div>
            </div>
            <div class="col col-12 col-md-6">
              <div class="form-group">
                <label for="postMaxGuest">Max number of guests: {{formData.maxGuest}}</label>
                <input type="range" class="custom-range" min="0" max="100" id="postMaxGuest" v-model="formData.maxGuest">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="col col-6 col-md-4">
              <ajax-button type="submit" :syncing="syncing" class="btn btn-outline-success btn-block text-light">Go Live!</ajax-button>
            </div>
          </div>
        </ajax-form>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
