<div id="live-post" v-cloak>

  <div id="editor-container" class="cintainer-fluid">
    <div class="d-flex flex-column align-items-scretch">

      <nav id="page-header" class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-1">

        <div class="col col-12 col-md-12 col-lg-2 mx-0 px-0">
          <div class="d-flex justify-content-between w-100">

            <span class="d-flex align-items-center">
              <a class="navbar-brand mr-2 d-flex" href="/"><img src="/images/textpose-light.svg" height="30"></a>
              <a class="badge badge-secondary" href="/live" target="_blank">Live (Beta) - {{readonly? 'Read Only': 'Guest'}}</a>
              <span class="status-light mx-1 mb-1" :class="wsActivity? 'text-dark': (socketConnected? 'text-success': 'text-warning')" v-if="!readonly">
                <svg width="0.5em" height="0.5em" viewBox="6.5 6.5 3 3" class="bi bi-dot" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                </svg>
              </span>
            </span>
      
            <span class="d-flex justify-content-end align-items-center">
              <!-- <div class="custom-control custom-switch mr-2 d-lg-none">
                <input type="checkbox" class="custom-control-input" id="mobileSwitch" v-model="mobileMode">
                <label class="custom-control-label text-light" for="mobileSwitch">Mobile</label>
              </div> -->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
                <span class="navbar-toggler-icon"></span>
              </button>
            </span>
      
          </div>
        </div>

        <div class="col col-12 col-md-12 col-lg-10 mx-0 px-0">
          <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="form-row w-100 align-items-center mx-0 px-0">

              <div class="col col-12 col-md-1">
                <div class="d-flex justify-content-end align-items-center">
                  <span class="text-right text-light p-1 small"><button type="button" class="btn btn-sm btn-outline-secondary text-light">
                    <i class="fas fa-user"></i> <span class="badge badge-light">{{guestCount}}</span>
                  </button></span>
                </div>
              </div>

              <%# Title %> 
              <div class="col col-12 col-md-4 mt-1">
                <div class="input-group">
                  <input class="form-control" id="editorTitle" name="editorTitle" type="text" v-model.trim="editorTitle" placeholder="Title" readonly>
                </div>
              </div>
              <%# Set editor mode %> 
              <div class="col col-6 col-md-2 mt-1">
                <input class="form-control" id="editorMode" type="text" v-model.trim="editorMode" placeholder="Mode: txt, html, py, etc." readonly>
              </div>
              <%# Sync and settings button %> 
              <div class="col col-6 col-md-2 mt-1">
                <span class="d-flex align-items-center">
                  <a class="btn btn-outline-secondary text-light flex-grow-1" v-on:click="forceDocumentResync()" :disabled="cloudError? 1 : null"><i class="fas fa-sync-alt"></i></a>
                  <a class="btn btn-outline-secondary text-light flex-grow-1 ml-2" v-on:click="openSettingsModal()"><i class="fas fa-cogs"></i></a>
                </span>
              </div>
              <%# Dropdowns %> 
              <div class="col col-12 col-md-3 mt-1">
                <div class="d-flex">

                  <%# Share options dropdown %> 
                  <div class="dropdown flex-grow-1">
                    <a class="btn btn-outline-secondary btn-block text-light dropdown-toggle" href="#" role="button" id="qrCodeShareDropdown" data-toggle="dropdown">
                      <i class="fas fa-share-square"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#" v-on:click="copyLinkToClipboard('/l/'+guestlink)">Copy: Guest URL</a>
                      <a class="dropdown-item" href="#" v-on:click="openQrCode('guest')"><i class="fas fa-qrcode"></i> Guest</a>
                    </div>
                  </div>

                  <%# New post button %> 
                  <div class="dropdown flex-grow-1 ml-2 ">
                    <a class="btn btn-outline-secondary btn-block text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                      <i class="fas fa-plus"></i>
                    </a>
                  
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/?new=1" target="_blank">Normal</a>
                      <a class="dropdown-item" href="/live">Live (Beta)</a>
                    </div>
                  </div>

                  <%# Message Window Toggle %> 
                  <button type="button" class="btn btn-outline-info text-light flex-grow-1 ml-2" v-on:click="toggleChat()">
                    <i class="fas fa-comment-alt"></i><span class="badge badge-danger ml-1" v-if="newMessageCount">{{newMessageCount}}</span>
                  </button>

                </div>
              </div>  <%# End of dropdown menus %> 

            </div>
          </div>
        </div>

      </nav>

      <div class="flex-fill main-body-wrapper">
        <div class="row mx-0">
          <%# Editor %> 
          <div class="col col-12 col-md-8 col-lg-9 px-0" :class="chatOpen? 'normal-editor': 'fullwidth-editor' ">
            <div id="editor"></div>
            <div class="editor-textarea-container" v-if="mobileMode">
              <textarea id="editor-textarea" class="ace_editor" spellcheck="false" v-model="textareaContent" :readonly="formData.posted? 1: null"></textarea>
            </div>
          </div>

          <%# Chat column %> 
          <div id="chat-col" class="col col-12 col-md-4 col-lg-3 px-0" :class="chatOpen? 'show-chat': 'hide-chat' ">
            <div id="chat-container" class="d-flex flex-column h-100">

              <div id="chat-history" class="d-flex flex-grow-1">
                <div id="chat-history-contents" class="flex-grow-1 p-2">

                  <%# Load earlier messages button %> 
                  <div class="d-flex justify-content-center" v-if="messageFrom > 0">
                    <a href="#" class="badge badge-secondary load-message-btn text-light" v-on:click="loadEarlierMessages()">Load More Messages</a>
                  </div>
                  
                  <%# Conversation cards %>
                  <chat-card :type="message.type" :from="message.from" :time="message.time" :body="message.body" v-for="message in messageHistory"></chat-card>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>  <%# End of container-fluid %> 

  <%# Footnote %> 
  <div class="footnote d-flex flex-row-reverse">
    <a class="p-1" href="/about" target="_blank">About</a>
    <a class="p-1" href="/faq" target="_blank">FAQ</a>

    <span class="p-1" v-if="formData.expireAt">Expiry: <js-timestamp :at="formData.expireAt"></js-timestamp></span>
  </div>

  <%# Action button %>

  <div>
    <a class="editorActionButton btn d-lg-none d-flex align-items-center" href="#" v-on:click="toggleChat()" :class="chatOpen? 'actionButtonOverChat': 'actionButtonOverEditor'">
      <span><i class="fas fa-comment-alt text-light"></i></span>
      <span class="badge badge-danger" v-if="newMessageCount">{{newMessageCount}}</span>
    </a>
  </div>

  <%# Toast notification %> 
  <div id="notice" class="toast notice" role="alert" data-autohide="false" :style="noticeShown? '': 'display: none'" v-cloak>
    <div class="toast-header">
      <strong class="mr-auto" v-html="noticeTitle"></strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
        <span>&times;</span>
      </button>
    </div>
    <div class="toast-body" v-html="noticeMessage">
    </div>
  </div>

  <%# QR Code Modal %>
  <modal class="qrcode" v-if="modal==='qrcode'" @close="closeQrCode()" v-cloak>
    <div class="modal-header">
      <p>{{ qrCodeUrl }}</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal"></button>
    </div>

    <svg class="qrcode" v-html="qrCodeToShow"></svg>

    <div class="d-flex justify-content-end">
      <a class="btn btn-secondary text-light" data-dismiss="modal" v-on:click="closeQrCode()">Close</a>
    </div>
  </modal>

  <%# Settings modal %> 
  <modal class="settings" v-if="modal==='settings'" @close="closeSettingsModal()" v-cloak>
    <div class="modal-header">
      <h3>Settings</h3>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal"></button>
    </div>

    <div class="row">
      <div class="col col-12 my-4">
        <span class="d-flex justify-content-between">
          <span><h5>Editor Theme:</h5></span>
          <span>
            <select class="custom-select" v-if="themelist" v-model="editorTheme">
              <option :value="theme.name" v-for="theme in themelist">{{theme.caption}}</option>
            </select>
          </span>
        </span>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <a class="btn btn-secondary text-light" data-dismiss="modal" v-on:click="closeSettingsModal()">Close</a>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
