<div id="read-post" v-cloak>

  <nav id="page-header" class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-1">

    <div class="col col-12 col-lg-2 mx-0 px-0">

      <div class="d-flex justify-content-between w-100">
        <a class="navbar-brand mr-4 d-flex" href="/"><img src="/images/textpose-light.svg" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

    </div>

    <div class="col col-12 col-lg-10 mx-0 px-0">

      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="form-row w-100">
          <%# Post title %> 
          <div class="col col-12 col-md-6 mt-1">
            <input class="form-control" id="createPostTitle" name="createPostTitle" type="text" v-model.trim="formData.title" readonly>
          </div>
          <div class="col col-6 col-md-2 mt-1">
            <input class="form-control" id="setMode" type="text" v-model.trim="mode">
          </div>
          <%# View raw/ QR code button %> 
          <div class="col col-6 col-md-2 mt-1">
            <div class="d-flex">
              <a class="btn btn-outline-secondary text-light w-100" :href="baseUrl+'/r/'+formData.shortlink">Raw</a>
              <a class="btn btn-outline-secondary text-light w-100 ml-2" v-on:click="openQrCode()"><i class="fas fa-qrcode"></i></a>
            </div>
          </div>
          <%# Copy link button %> 
          <div class="col col-12 col-md-2 mt-1">
            <div class="d-flex">
              <a class="btn btn-outline-success w-100 text-light" v-on:click="copyLinkToClipboard()">{{ copiedResponse? copiedResponse: ''}}<span v-if="!copiedResponse"><i class="fas fa-copy"></i> <small>URL</small></span></a>
              <a class="btn btn-outline-info w-100 text-light ml-2" href="/?new=1" target="_blank"><i class="fas fa-plus"></i></a>
            </div>
          </div>
          
        </div>
      </div>

    </div>
    
    
  </nav>

  <noscript>Please enable JavaScript to allow syntax highlighting.</noscript>

  <%# Editor %> 
  <div id="editor"></div>

  <%# Footnote %> 
  <div class="footnote d-flex flex-row-reverse">
    <a class="p-1" href="/about" target="_blank">About</a>
    <a class="p-1" href="/faq" target="_blank">FAQ</a>
    <span v-if="formData && formData.expireAt" class="p-1">Expire: <js-timestamp :at="formData.expireAt"></js-timestamp></span>
  </div>

  <%# Toast notification  %> 
  <div id="notice" class="toast notice" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" :style="noticeShown? '': 'display: none'" v-cloak>
    <div class="toast-header">
      <strong class="mr-auto" v-html="noticeTitle"></strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body" v-html="noticeMessage">
    </div>
  </div>

  <%# QR Code Modal %>
  <modal class="qrcode" v-if="modal==='qrcode'" @close="closeQrCode()" v-cloak>
    <div class="modal-header">
      <p>{{ baseUrl+'/r/'+formData.shortlink }}</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal"></button>
    </div>

    <svg class="qrcode" v-html="qrcode"></svg>

    <div class="d-flex justify-content-end">
      <a class="btn btn-secondary text-light" data-dismiss="modal" v-on:click="closeQrCode()">Close</a>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
