<div id="dashboard" v-cloak>
  <div class="container">

    <div class="row my-4">
      <div class="col col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Posts</h5>
            <p class="card-text">View recent posts or search for specific posts.</p>
            <a href="/dashboard/posts" class="btn btn-primary">Manage Posts</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Live Posts</h5>
            <p class="card-text">View live posts.</p>
            <a href="/dashboard/live-posts" class="btn btn-primary">View Live Posts</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4">
      <div class="col col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Account</h5>
            <p class="card-text">Change account settings.</p>
            <a href="/account" class="btn btn-primary">Settings</a>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">My Posts</h5>
            <p class="card-text">Manage your posts</p>
            <a href="/dashboard/my-post" class="btn btn-primary">View posts</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
