<div id="edit-post" v-cloak>

  <ajax-form action="updatePost" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm($event)" :handle-parsing="handleParsingForm">

    <nav id="page-header" class="navbar navbar-expand-lg navbar-dark bg-dark my-0 py-1">

      <div class="col col-12 col-lg-2 mx-0 px-0">
        <div class="d-flex justify-content-between w-100">

          <a class="navbar-brand mr-4 d-flex" href="/"><img src="/images/textpose-light.svg" height="30"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>

        </div>
      </div>

      <div class="col col-12 col-lg-10 mx-0 px-0">
        <div class="collapse navbar-collapse" id="navbarToggler">

          <div class="form-row w-100">
            <%# Title %> 
            <div class="col col-12 col-md-6 mt-1">
              <input class="form-control" id="createPostTitle" name="createPostTitle" type="text" :class="[formErrors.title ? 'is-invalid' : '']" v-model.trim="formData.title" placeholder="Title" required>
            </div>
            <%# Set editor mode %> 
            <div class="col col-6 col-md-2 mt-1">
              <input class="form-control" id="setMode" type="text" v-model.trim="setMode" placeholder="Mode: text, html, py, etc." reuqired>
            </div>
            <%# Set expiry %> 
            <div class="col col-6 col-md-2 mt-1">
              <select class="form-control" v-model="formData.expiry">
                <option :value="21600">6 Hours</option>
                <option :value="43200">12 Hours</option>
                <option :value="86400">1 Day</option>
                <option :value="604800">7 Days</option>
                <option :value="1209600">14 Days</option>
                <option :value="2592000">30 Days</option>
              </select>
            </div>
            <%# Submit and copy link buttons %> 
            <div class="col col-12 col-md-2 mt-1">
              <div class="d-flex">
                <a class="btn btn-outline-secondary text-light" :href="baseUrl+'/p/'+formData.shortlink" target="_blank">View</a>
                <ajax-button type="submit" :syncing="syncing" class="btn btn-outline-warning text-light ml-1 flex-grow-1">Update</ajax-button>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    
    </nav>

    <div id="editor" class="d-flex align-items-stretch"></div>

  </ajax-form>

  <%# Footnote %> 
  <div class="footnote d-flex flex-row-reverse">
    <a class="p-1" href="/about" target="_blank">About</a>
    <a class="p-1" href="/faq" target="_blank">FAQ</a>
    <span v-if="formData && formData.expireAt" class="p-1">Expire: <js-timestamp :at="formData.expireAt"></js-timestamp></span>
    <span class="p-1 text-warning">[Editing Mode]</span>
  </div>

  <%# Toast notification %> 
  <div id="notice" class="toast notice" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" :style="noticeShown? '': 'display: none'" v-cloak>
    <div class="toast-header">
      <strong class="mr-auto" v-html="noticeTitle"></strong>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body" v-html="noticeMessage">
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
