<div id="live-post-list" v-cloak>

  <div class="container">
    <div class="row my-2">
      <div class="col col-12">
        <div class="d-flex justify-content-between">
          <span>Total: {{totalPostCount}}</span>
          <span>Showing: {{(page-1)*show+1}} - {{page*show}}</span>

          <div class="btn-group" role="group">
            <a type="button" class="btn btn-outline-info" :class="page>1? '': 'disabled'" :href="page>1? '/dashboard/posts/'+(parseInt(page)-1): ''">&laquo;</a>
            <a type="button" class="btn btn-outline-info" :class="(page*show)<totalPostCount? '': 'disabled'" :href="(page*show)<totalPostCount? '/dashboard/posts/'+(parseInt(page)+1): '#'">&raquo;</a>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">EditorLink</th>
                <th scope="col">Created</th>
                <th scope="col">Expire</th>
                <th scope="col">IP</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="post in posts">
                <th scope="row">{{post.id}}</th>
                <td><a :href="baseUrl + '/le/' + post.editorlink" target="_blank">{{post.editorlink}}</a></td>
                <td><js-timestamp :at="post.createdAt" :format="'calendar'"></js-timestamp></td>
                <td><js-timestamp :at="post.expireAt"></js-timestamp></td>
                <td>{{post.ip}}</td>
                <td>{{post.title.substring(0,30)}}{{ post.title.length > 30? '...': ''}}</td>
                <td><a class="btn btn-sm btn-info text-light" :href="baseUrl + '/le/' + post.editorlink" target="_blank">Edit</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
