<div id="privacy">
  <div class="container">
    <h1><%= sails.config.custom.platformCompanyName %> privacy policy</h1>
    <hr/>
    <p>At <%= sails.config.custom.platformCompanyName %> we care deeply about your privacy, and we take pride in being a good steward of any data you choose to share with us.  If you have any questions about how we use or handle user data, just <a href="/contact">ask</a> and we'll get back to you in a jiffy.</p>

    <h3>General information</h3>
    <p>We believe it is important for you to understand what types of information we are collecting and what may happen to that information when using our website and related applications and resources (collectively, the “Service”). This Privacy Policy is designed to explain <%= sails.config.custom.platformCompanyName %>’s policies and procedures with respect of collection, use and disclosure by <%= sails.config.custom.platformCompanyName %> of information about you in connection with the Service. This Privacy Policy has a limited scope and applies only to the Service.</p>
    <p>By accessing the Service, you consent to the collection, use and disclosure of your personal information as explained in this privacy policy (the “Privacy Policy”). This Privacy Policy is incorporated into and is subject to the Terms of Service, which can be accessed <a href="/terms">here</a>. Your use of the Service and any information you provide through the Service is subject to the terms of this Privacy Policy and our Terms of Service.</p>

    <h3>What you will find in this privacy policy?</h3>
    <ol>
      <li>How we collect information about you</li>
      <li>How we use or share information about you</li>
      <li>How we safeguard information about you</li>
      <li>Other matters related to the information we collect about you</li>
    </ol>

    <h3>Collection of information</h3>
    <p>We collect information about you in a variety of ways in connection the Service. <%= sails.config.custom.platformCompanyName %> will be the controller of your personal data processed in connection with the Service, and can be contacted <a href="/contact">here</a>.</p>
    <h5>Registration</h5>
    <p>Users are not required to register with us to use most of the service. For some features and resources, a user must complete our registration process. During registration, a user is required to provide certain categories of information, which may include personally identifiable information and other information about you such as your name, address, e-mail address, and password.</p>
    <h5>Optional information</h5>
    <p>At various other points during your use of the Service, you may have the option to provide additional information related to you. For example, you may wish to create a profile, post, comment on another user’s post or share a post with another person, or you may wish to utilize social network integrations or location-based features of the Service.  For voluntary activities like these you have the choice about whether to disclose the information necessary to use these features of the Service.</p>
    <h5>Passive collection of information</h5>
    <p>We collect passive information for purposes such as testing and improving user experience with the Service. The types of passive information we collect include, without limitation, certain standard information sent by your browser, such as your Internet Protocol (IP) address, your device ID, your browser type and capabilities and language, your operating system, the date and time you access the Service.</p>
    <h5>Cookies</h5>
    <p>Information related to your interactions with the Service may be collected and stored by us in small data files—commonly referred to as cookies—that are placed onto your device by our servers. We may use temporary session cookies, which are terminated when you close your current session, to store certain personal information you provide for purposes of administering that session and facilitating transactions requested by you during that session. We also may use persistent cookies, which remain saved on your device after your current session is closed, to store information related to your interactions with the Service to facilitate future sessions.  Most browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies or to notify you when a cookie is being placed on your device. Each browser is different, but generally users can remove cookies by following directions provided in the browser’s “help” file. Please note that, if you reject cookies or disable cookies, some features of the Service may not function properly.</p>

    <h3>How long we store information</h3>
    <p><%= sails.config.custom.platformCompanyName %> will store your data as long as needed to provide you with our services. If you ask <%= sails.config.custom.platformCompanyName %> to delete specific personal information, we'll honor your request unless deleting that information prevents us from carrying out necessary functions, like calculating taxes or conducting required audits.</p>

    <h3>Security</h3>
    <p>We have security measures in place to help protect against the unauthorized access to personally identifiable information under our control. We utilize both online and offline security methods, including firewalls, passwords and restricted physical access to the places where your information is stored to help protect personally identifiable information. Our team is trained to comply with our security procedures, and our security procedures are regularly reviewed and revised as we deem necessary.</p>

    <h3>Your legal rights</h3>
    <p>The State of California enacted the Shine the Light law (CA Civil Code Sec 198.83) that permits users who are California residents to request certain information regarding the disclosure of personal information during the past year for marketing purposes. To make such a request, you can <a href="/contact">contact us</a>.</p>
    <p>If you are in the European Union, you have certain rights under the General Data Protection Regulation in relation to your personal data:</p>
    <ul>
      <li><strong>Access</strong> - You are welcome to request <%= sails.config.custom.platformCompanyName %> for copies of your personal data. We may charge you a small fee for this service.</li>
      <li><strong>Rectification</strong> - You may request that <%= sails.config.custom.platformCompanyName %> correct any information you believe is inaccurate. You may also request <%= sails.config.custom.platformCompanyName %> to complete the information you believe is incomplete.</li>
      <li><strong>Erasure</strong> - You may request that <%= sails.config.custom.platformCompanyName %> erase your personal data, under certain conditions.</li>
      <li><strong>Restriction of processing</strong> - You may request that <%= sails.config.custom.platformCompanyName %> restrict the processing of your personal data, under certain conditions.</li>
      <li><strong>Objection to processing</strong> -  You may object to <%= sails.config.custom.platformCompanyName %>'s processing of your personal data, under certain conditions.</li>
      <li><strong>Data portability</strong> - You may request that <%= sails.config.custom.platformCompanyName %> transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    </ul>
    <p>If you make such a request, please be sure to include your contact information. We will reply within 30 days. If you would like to exercise any of these rights, please <a href="/contact">contact us</a>.</p>
    <p>Should you wish to report a complaint or if you feel that we have not addressed your concern in a satisfactory manner, you have the right to lodge a complaint with your local data protection authority.</p>

    <h3>Other provisions</h3>
    <p>Your use of the Service indicates an acceptance of the terms of the Privacy Policy. We reserve the right to update or amend this Privacy Policy at any time. We will post any revised version of this Privacy Policy on our website, and we encourage you to refer back to it on a regular basis. The changes contained in any such revised version of this Privacy Policy will be effective from the time such revised version is posted unless otherwise specifically stated therein.</p>
    <p>This Privacy Policy does not create or confer upon any individual any rights, or impose upon <%= sails.config.custom.platformCompanyName %> any rights or obligations outside of, or in addition to, any rights or obligations imposed by the privacy laws of such individual’s jurisdiction, as applicable. Privacy legislation or an individual’s right to privacy may differ from one jurisdiction to another. The rights and obligations described in this Privacy Policy may not apply to all individuals or in all jurisdictions. Should there be, in a specific case, any inconsistency between this Privacy Policy and the applicable privacy laws of such individual’s jurisdiction, this Privacy Policy shall be interpreted, in respect of that case, to give effect to, and comply with, such privacy laws.</p>

    <p>This Privacy Policy applies solely to the information collected by us on-line through the Service and does not apply to any website, application or service other than the Service.  The Service contains links to other websites, applications and services provided by third parties that we do not own or control and we are not responsible for the privacy policies and practices of those third parties.  Similarly, we are not responsible for the privacy policies and practices of any other websites, applications and services from which you linked to our Service.  We encourage you to be aware when you leave our Service and to read the privacy policies of each and every third party that may be providing websites, applications or information linked to the Service.</p>
    <p>This Privacy Policy may include examples but is not intended to be restricted in its application to such examples, thus ‘including’ means ‘including without limitation.’</p>

    <p><strong>Last updated: <%= sails.config.custom.privacyPolicyUpdatedAt %></strong></p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
