<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Sign in to your account</h1>
    <div class="login-form-container">
      <hr/>
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
          <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div>
        </div>
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" v-model="formData.rememberMe"/>
          <label class="form-check-label" for="remember">Remember me</label>
        </div>

        <div class="form-group">
          <a class="btn btn-dark btn-lg btn-block text-light" v-if="!dev" v-on:click="openCaptcha()">Continue</a>
          <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block" v-if="dev">Sign in</ajax-button>
        </div>


        <modal class="captcha" v-if="modal==='captcha'" @close="closeCaptcha()" v-cloak>
          <div class="modal-header">
            <h2 class="modal-title">Just a moment...</h2>
            <hr/>
            <button type="button" class="modal-close-button" data-dismiss="modal"></button>
          </div>
      
          <div class="form-group">
            <label for="captcha">Are you a robot? </label><br>
            <div class="d-flex justify-content-center align-items-end">
              <div class="my-4" v-html="captcha"></div>
              <a class="btn btn-sm btn-outline-secondary ml-4" v-on:click="getCaptcha()">Reload</a>
            </div>
            <input class="form-control mt-4" id="captcha" name="captcha" type="text" v-model.trim="formData.captcha" autocomplete="none" placeholder="Case sensitive.">
            <div class="text-danger small">
              {{cloudError === 'captchaFailed'? 'Incorrect. Please try again.': ''}}
              {{cloudError === 'captchaTimeout'? 'Response timeout. Please refresh the captcha and try again.': ''}}
            </div>
          </div>

          <p class="text-danger" v-if="cloudError==='badCombo'"><small>The credentials you entered are not associated with an account. Please check your email and/or password and try again.</small></p>
          <p class="text-danger" v-else-if="cloudError && !cloudError.includes('captcha')"><small>An error occured while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>

          <div class="form-group">
            <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Sign in</ajax-button>
          </div>
      
        </modal>



      </ajax-form>
      <p class="text-center"><a href="/password/forgot">Forgot your password?</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
