
@navbar-height: 50px;
@view-height: calc(~"var(--vh, 1vh) * 100");

#editor-container {
  height: 100vh;
  height: @view-height;
  background-color: #272822;
  overflow: auto;
}

#editor{
  height: calc(~"@{view-height} - @{navbar-height}");
  width: 100%;
}

.main-body-wrapper {
  overflow: hidden;
}

.header-spinner {
  // font-size: 1.5em;
  // height: 30px;
  height: 100%;
}

.history-dropdown{
  overflow: hidden;
  background-color: #2b2b2b;
  border: 1px solid #eee;
  min-width: 30vw;
}

.histroy-dropdown-item{
  border-top: 1px solid #4b4b4b;
}

// Editor styles

.live-edit-active-line{
  background-color: #ffa500;
  color: #fff;
}

// Textarea for mobile

.editor-textarea-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 45px;
  z-index: 50;
  border: #272822 solid 5px;
  background-color: #272822;
}

#editor-textarea{
  height: calc(~"@{view-height} - @{navbar-height}");
  width: 100%;
  font-size: 14px;
  color: #eee;
  background-color: #272822;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  padding-left: 4px;
  word-wrap: none;
  white-space: pre;
  // top: 61px;
}


.footnote {
  position: absolute;

  bottom: 0;
  right: 0;
  z-index: 900;
  font-size: 0.7rem;
  background-color: #2b2b2b;
  color: #eee;
  padding-right: 1rem;
}

.footnote a{
  color: #eee;
}

.notice{
  position: absolute;
  top: 5rem;
  right: 3%;
  min-width: 300px;
  min-height: 150px;
  z-index: 9999;
  background-color: #eee;
}

.form-control-expiry {
  min-width: 100px;
}

.modal .petticoat {
  background-color: rgba(0,0,0,0);
}

.modal-backdrop {
	background-color: rgba(0,0,0,0.3);
}

.modal-dialog {
	margin: 70px auto;
}

.ace_mobile-menu {
  z-index: 20;
}

.editorActionButton{
  z-index: 1000;
  border-radius: 100%;
  background-color: #7e7e7e;
  // padding: 1.5rem;
  font-size: 1.5em;
  overflow: hidden;
  height: 50px;
  width: 50px;
}

.editorActionButton .badge{
  position: relative;
  top: -6px;
  right: 10px;
  padding: .2em .3em;
  font-size: 0.5em;
}

.actionButtonOverChat{
  position: absolute;
  right: 1rem;
  bottom: 120px;
  transition: all 0.3s ease-out;
}

.actionButtonOverEditor{
  position: absolute;
  right: 1rem;
  bottom: 50px;
  transition: all 0.3s ease-out;
}

#popup-textarea{
  height: 70vh;
  width: 100%;
}

.status-light{
  font-size: 1rem;
}

.qrcode{
  width: 100%;
  min-height: 50vh;
  overflow: visible;
}

// Chat and editor panels control

.fullwidth-editor {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  transition: all 0.3s ease-out;
}

.normal-editor {
  transition: all 0.3s ease-out;
}

.hide-chat {
  flex: 0 0 0% !important;
  max-width: 0% !important;
  right: -20%;
  transition: all 0.3s ease-out;
}

.show-chat {
  right: 0%;
  transition: all 0.3s ease-out;
}

// Chat
#chat-col {
  background-color: #2b2b2b;
  height: calc(~"@{view-height} - @{navbar-height}");
  overflow: hidden;
  z-index: 200;
}

#chat-container {
  height: ccalc(~"@{view-height} - @{navbar-height}");
  position: relative;
}

#chat-history {
  height: 100%;
  color: #eee;
  overflow: auto;
  margin-bottom: 25px;
}

// #chat-history .card{
//   background-color: #4b4b4b;
// }

.chat-card-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 5px;
  width: auto;
}

.chat-card-metadata {
  font-size: 11px;
  line-height: 11px;
}

.chat-from {
  // font-size: 12px;
  // color: #ddd;
}

.chat-card {
  width: auto;
  background-color: #4b4b4b;
}

.chat-card-body {

}

.chat-card-text {
  white-space: pre-line;
}

.chat-notice {
  padding: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  font-size: 11px;
  line-height: 11px;
  color: #aaa;
  text-align: center;
}

.load-message-btn {
  text-align: center;
}


#chat-input-group {
  margin: 0 0.5rem 25px 0.5rem;
  // height: 15%;
  // min-height: 200px;
}

#chat-textarea {
  resize: none;
  overflow: auto;
}



// Responsive breakpoints

@media (min-width: 768) {
  .navbar-input-group-append {
    min-width: 220px;
  }

  .form-control-setmode {
    width: auto;
  }

  .history-dropdown{
    width: 33vw;
  }

  #editor-textarea{
    height:95vh;
  }

}

// md
@media (max-width: 767.98px) {

  .history-dropdown{
    width: 80vw;
  }

  // #editor-textarea{
  //   height:90vh;
  // }

  .form-control-setmode {
    width: auto;
  }  

  .navbar-input-group-append {
    margin-top: 0.5rem;
    min-width: 100%;
  }

  .navbar-input-group{
    margin-top: 1rem;
  }

  .normal-editor {
    display: none;
  }

  .hide-chat {
    flex: 0 0 0% !important;
    max-width: 0% !important;
    right: -100%;
    transition: all 0.3s ease-out;
  }
  
  .show-chat {
    right: 0%;
    transition: all 0.3s ease-out;
  }

}


//sm
@media (max-width: 575.98px) {
  .history-dropdown{
    width: 90vw;
  }

  // .normal-editor {
  //   display: none;
  // }

  // .hide-chat {
  //   flex: 0 0 0% !important;
  //   max-width: 0% !important;
  //   right: -100%;
  //   transition: all 0.3s ease-out;
  // }
  
  // .show-chat {
  //   right: 0%;
  //   transition: all 0.3s ease-out;
  // }


}
