@footer-height: 40px;
@container-md-max-width: 1100px;

[v-cloak] { display: none; }

html, body {
  height: 100%;
  margin: 0;
}

#page-wrap {
  height: 100%;
  /* lesshint-disable */height: auto !important;/* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  // padding-bottom: @footer-height;

  header {
    .logo {
      height: 20px;
    }
    a {
      cursor: pointer;
    }
    .dropdown-menu.account-menu {
      left: auto;
      right: 0px;
    }
  }
}

#page-wrap-dark {
  height: 100%;
  /* lesshint-disable */height: auto !important;/* lesshint-enable */
  // ^^The above is to disable "importantRule" and "duplicateProperty" rules.
  min-height: 100%;
  position: relative;
  // padding-bottom: @footer-height;
  background-color: #272822;

  color: #eee;

  header {
    .logo {
      height: 20px;
    }
    a {
      cursor: pointer;
    }
    .dropdown-menu.account-menu {
      left: auto;
      right: 0px;
    }
  }
}

#page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: @footer-height;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  .xs-only {
    display: none;
  }
}

#page-header {
  z-index: 1000;
}

.navbar-brand {
  width: 40px;
}


body.detected-mobile {
  // Above and beyond the media queries below, this selector (which relies on
  // `parasails` automatically attaching this class, if appropriate) contains
  // styles intended to be activated specifically when loaded from a recognized
  // mobile device, regardless of viewport dimensions.  This includes tablet
  // devices (like the iPad) as well as handset devices (like the iPhone).
  // …
}

@media (min-width: 801px) {

}

@media (max-width: 800px) {

}

@media (max-width: 450px) {

}
