<div id="about" v-cloak>

  <div class="container">
    <div class="row my-4">
      <div class="col col-12 text-center d-flex flex-column">
        <div class="d-flex justify-content-center align-items-top">
          <img src="/images/textpose.svg" height="100">
        </div>
        <h1 class="mt-4">TextPose <a href="/roadmap">(v0.1.7)</a></h1>
        <p>TextPose is a pastebin with some extra goodies.</p>
        <ul>
          <li>Syntax highlighting</li>
          <li>Keyboard shortcuts</li>
          <li>Real-time collaborative editing (beta)</li>
        </ul>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-12">
        <h2>Credits</h2>
      </div>
      <div class="col-12">
        <ul class="list-group list-group-flush mx-5">
          <li class="list-group-item"><a target="_blank" href="https://sailsjs.com/">Sails.js</a></li>
          <li class="list-group-item"><a target="_blank" href="https://vuejs.org/">Vue.js</a></li>
          <li class="list-group-item"><a target="_blank" href="https://ace.c9.io">Ace Code Editor</a></li>
          <li class="list-group-item"><a target="_blank" href="https://getbootstrap.com">Bootstrap</a></li>
          <li class="list-group-item"><a target="_blank" href="https://fontawesome.com/">Font Awesome</a></li>
        </ul>

      </div>
      
    </div>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
