<div id="credits" v-cloak>

  <div class="container">
    <div class="row my-4">
      <div class="col-12">

        <h1>Credits</h1>
        

      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
