<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Privacy Policy / Terms of Service</h4>
      <p>You can read our full Privacy Policy <a href="/legal/privacy">here</a>, and Terms of Service <a href="/legal/terms">here</a>.</p>
      <p>In short:</p>
      <ul>
        <li>You are not required to sign up for an account to use the service.</li>
        <li>You agree not to submit or share copyrighted or illicit contents.</li>
        <li>You agree not to conduct any activities that may damage or interfear with our services.</li>
        <li>Any information you have submitted is only stored for as long as it is needed for us to provide the service or to comply with regulations.</li>
        <li>We do not use any of your information for advertisement purposes.</li>
        <li>We do not share or sell your information to any third-party.</li>
        <li>Metadata is collected for security and maintenance purposes, such as: Your IP address, time of access, browser information, timezone, and language.</li>
        <li>We use cookies and local storage (IndexedDB, if supported by your browser) to provide some features, such as auto-saving.</li>
        <li>If you have an account with us, you can request a copy of your data by contacting support.</li>
      </ul>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>How long is a document stored on TextPose?</h4>
      <p>Up to 30 days for most posts.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>What is the size limit of a post?</h4>
      <p>A title cannot be longer than 100 characters. Each post must be no more than 512K bytes in total size (~2000 lines with 256 characters on each line, variable due to UTF-8 encoding).</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Why can I still see a post after it has expired?</h4>
      <p>Most expired posts are purged within a few minutes in our system, but some data can be cached by external networks and your browser, which can take up to an hour to be cleared.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Can I edit a post after it is submitted?</h4>
      <p>No, you can not. But this feature will be added in a future update. Live posts can be edited at any time before it is saved as a static post.</p>
    </div>
    
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Can a post be recovered when it has expired?</h4>
      <p>No. Any expired post is removed from the system permanently, unless we are required by law to withhold it.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Is TextPose free-of-charge?</h4>
      <p>TextPose is free for personal use. Organisations and businesses should contact support before using it in a production environment.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Should I share sensitive information, like password and payment information using TextPose?</h4>
      <p>You should not. TextPose is not designed for handling sensitive data. We cannot 100% guarantee the privacy or security of a post. Anyone who knows the link to an unprotected post, whether by chance or other means, can view the content.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Can I share contents that are linked to resources that may be against the law?</h4>
      <p>It is prohibited to share any content that can be linked to resources that are against the law, such as pirated or illicit contents. If it's something you will not post on a public forum, you probably should not post it here either.</p>
    </div>
    
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
