<div id="roadmap" v-cloak>

  <div class="container">
    <div class="row my-4">
      <div class="col col-12">

        <h1 class="mt-4">Planned features</h1>
        <hr>
        <h3>Live Post:</h3>
        <ul>
          <li>Improving stability.</li>
          <li>Custom editor settings: theme, tab size, font, font size.</li>
          <li>Online users list.</li>
        </ul>
        <h3>Normal Post:</h3>
        <ul>
          <li>Allow extension of expiry date.</li>
          <li>Report a post for violations.</li>
          <li>Enhanced security features.</li>
        </ul>

        <h1 class="mt-5">v0.1.5</h1>
        <small>22 Sep 2020</small>
        <hr>
        <h3>New features:</h3>
        <ul>
          <li>Added live chat to live post.</li>
        </ul>
        <h3>Changes:</h3>
        <ul>
          <li>Enforcing live post guest limit.</li>
          <li>UI adjustments.</li>
          <li>Enforcing size limit for live posts.</li>
          <li>Live post bug fixes.</li>
        </ul>

        <h1 class="mt-5">v0.1.3</h1>
        <small>15 Sep 2020</small>
        <hr>
        <h3>New features:</h3>
        <ul>
          <li>Added live post (public testing).</li>
          <li>Local draft posts and local history</li>
          <li>Mobile-friendly plan text editor for normal posts.</li>
        </ul>
        <h3>Changes:</h3>
        <ul>
          <li>UI adjustments.</li>
        </ul>

        <h1 class="mt-5">v0.1.0</h1>
        <small>8 Sep 2020</small>
        <hr>
        <h3>New features:</h3>
        <ul>
          <li>TextPose is open to public.</li>
          <li>Syntax highlighting.</li>
          <li>Custom post expiration.</li>
          <li>Share URL by QR Code.</li>
        </ul>

      </div>
    </div>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
